/* Layout */
$screen-size: (
    "mobile": 375px,
    "desktop": 1440px,
);

/* Colours */
$primary-colours: (
    "pale-blue": hsl(225, 100%, 94%),
    "bright-blue": hsl(245, 75%, 52%),
);

$neutral-colours: (
    "very-pale-blue": hsl(225, 100%, 98%),
    "desaturated-blue": hsl(224, 23%, 55%),
    "dark-blue": hsl(223, 47%, 23%),
);

/* Font */
$font: 'Red Hat Display', sans-serif;

$font-weights: (
    "medium": 500,
    "bold": 700,
    "extra-bold": 900,
);

$paragraph-size: 16px;